<section class="c2d-checkout-titulo">
    <div class="container bg-white">
        <div class="row mt-4 p-4">
            <div class="col-md-12">
                <h3 class="text-secondary text-center font-w-600">Disfruta de los descuentos que su Logo aquí tiene para
                    tí:</h3>
            </div>
            <div class="col d-flex justify-content-around">
                <div>
                    <h5>
                        + 5,000
                    </h5>
                    <p>
                        establecimientos comerciales
                    </p>

                </div>
                <div>
                    <h5>
                        + 400
                    </h5>
                    <p>
                        proveedores
                    </p>

                </div>
                <div>
                    <h5>
                        + 300

                    </h5>
                    <p>

                        ciudades a nivel nacional
                    </p>
                </div>
                <div>
                    <h5>
                        Garantía
                    </h5>
                    <p>

                        de servicio con todos nuestros proveedores
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>