<section class="c2d-beneficios-marcas">
    <div class="container bg-pure-white">
        <div class="row mt-4">
            <div>
                <h1 class="text-danger text-center font-w-600 py-md-4">Marcas</h1>
            </div>
            
            <div class="col d-flex justify-content-around py-md-4">
                        <div>
                            <img src="assets/img/FIREFLY 1_marcas_tdc.png" style="width:145px;" alt="...">
                        </div>
                        <div>
                            <img src="assets/img/logo capital bus 1_marcas_tdc.png" style="width:145px;" alt="...">
                        </div>
                        <div>
                            <img src="assets/img/Logo lacoleccion sport_blanco y negro 1_marcas_tdc.png" style="width:145px;" alt="...">
                        </div>
                        <div>
                            <img src="assets/img/italiannis 1_marcas_tdc.png" style="width:145px;" alt="...">
                        </div>
                        <div>
                            <img src="assets/img/recorcholis 1_marcas_tdc.png" style="width:145px;" alt="...">
                        </div>
            </div>
        </div>
    </div>
</section>