<section class="c2d-beneficios-comofunciona">
    <div class="container bg-pure-white">
        <div class="row mt-4">
            <div class="col-md-4">
                <img class="img-responsive" style="width:406px;" src="assets/img/funciona_tdc_img.png" />
            </div>
            <div class="col-md-8">
                <h1 class="text-danger text-center font-w-600 pb-md-4">¿Como funciona?</h1>
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nemo excepturi molestiae, nihil
                    distinctio minima, hic laboriosam nostrum ipsum consequatur ipsa, eius vero numquam mollitia
                    perferendis recusandae nam in suscipit.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil mollitia laboriosam nostrum
                    soluta libero blanditiis esse, voluptate maiores ab exercitationem, accusantium quasi,
                    necessitatibus illo quaerat vitae veniam a distinctio.</p>
            </div>
        </div>
    </div>
</section>