<section class="c2d-beneficios-comofunciona">
    <div class="container bg-white mt-2">
        <h1 class="text-danger text-center font-w-600 pb-md-4">Cupones</h1>
        <div class="d-flex justify-content-center">
            <div class="pe-2">
                <div class="card bg-pure-white" style="width: 364px; Height:
                517px;">
                    <h6 class="card-title font-weight-bold ps-2 pt-3">AZAP</h6>
                    <div class="card-body">

                        <p>
                            1. Convallis condimentum ac, aenean laoreet pulvinar.
                            2. Aliquet fusce hac egestas mattis dui semper massa sed est.
                            3. Elit ultricies nibh tempus netus iaculis sem malesuada lobortis viverra.
                            4. Id tortor netus integer eget a dictumst sit sit pulvinar.
                            5. Convallis condimentum ac, aenean laoreet pulvinar.
                            6. Aliquet fusce hac egestas mattis dui semper massa sed est.
                            7. Elit ultricies nibh tempus netus iaculis sem malesuada lobortis viverra.
                            8. Id tortor netus integer eget a dictumst sit sit pulvinar.
                        </p>

                    </div>
                </div>
            </div>

            <div class="px-4">
                <div class="card" style="width: 364px; Height:
                517px;">
                    <img class="card-img-top" src="assets/img/azap.PNG" alt="Card image cap">
                    <div class="card-body text-secondary">
                        <h5 class="card-title font-w-600">Terminos y condiciones</h5>
                        <hr style="height:2px">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-secondary btn-lg">Imprimir</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary btn-lg">Guardar</button>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="me-4">
                                <h5 class="font-w-600">Califica</h5>
                            </div>
                            <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ps-2">
                <div class="card" style="width: 364px; Height:
                517px;">
                    <img class="card-img-top" src="assets/img/azap.PNG" alt="Card image cap">
                    <div class="card-body text-secondary">
                        <h5 class="card-title font-w-600">Terminos y condiciones</h5>
                        <hr style="height:2px">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-secondary btn-lg">Imprimir</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary btn-lg">Guardar</button>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="me-4">
                                <h5 class="font-w-600">Califica</h5>
                            </div>
                            <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-secondary">Ver mas</button>
        </div>
    </div>
</section>